# Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
venv/
.venv/
env/

# macOS system files
.DS_Store

# VSCode and IDE settings
.vscode/
.idea/

# Database and instance files
*.db
instance/

# Byte-compiled / distribution files
*.egg-info/
dist/
build/
.env
