body {
            background-color: #f4f5f7; 
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        main {
            flex-grow: 1; 
        }
        .details-grid strong {
            display: block;
            color: #6c757d; 
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.hero-overlay {
    position: relative;
    width: 100%;
}

.hero-bg {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    line-height: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}
p{
    padding-left: 10px;
    padding-right: 10px;
    backdrop-filter: blur(10px);
}