body {
    background-color: #f8f9fa; 
}
.item-card {
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}
.item-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1) !important;
}

.remove-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    color: #dc3545; 
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 0.8;
    transition: opacity 0.2s;
}
.remove-icon:hover {
    opacity: 1;
}
.main-header {
    background-color: #002878;
    color: white;
    height: 40px;
}